<!DOCTYPE html>
<html>
<head>
  <title>Websocket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag Sync.adapter_javascript_url %>
  <%= csrf_meta_tags %>
	<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
	  <script>
	    // Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) {
	        window.console.log(message);
	      }
	    };

	    var pusher = new Pusher('1bc1e4c79dda93dd62ef', {
	      encrypted: true
	    });
	    var channel = pusher.subscribe('test_channel');
	    channel.bind('my_event', function(data) {
	      alert(data.message);
	    });
	  </script>
</head>
<body>

<%= yield %>

</body>
</html>
